<div class="main-content">
  <header class="page-header">
    <div class="header-info">
      <h1><span class="material-symbols-outlined">menu_book</span> Plan Curricular</h1>
    </div>
  </header>

  <div class="table-container">
    <div class="table-toolbar">
      <div class="toolbar-left">
        <div class="search-box">
          <span class="material-symbols-outlined">search</span>
          <input type="text" placeholder="Buscar curso..."> <!-- [(ngModel)]="textoBuscar" (keyup.enter)="cargarCursos()"-->
        </div>
        
        <div class="filter-box">
          <span class="material-symbols-outlined">filter_alt</span>
          <select class="select-grado" [(ngModel)]="gradoSeleccionado" (change)="cargarCursos()"> 
            <option value="">Todos los Grados</option>
            <option *ngFor="let grado of listaGrados" [value]="grado.id">{{grado.nombre}}</option>
          </select>
        </div>
      </div>

      <div class="toolbar-right">
        <button class="btn-primary-add" (click)="abrirModal()">
          <span class="material-symbols-outlined">add</span>
          NUEVO CURSO
        </button>
      </div>
    </div>

    <table class="data-table">
      <thead>
        <tr>
          <th style="width: 40%;">Curso / Materia</th>
          <th style="width: 20%;">Grado</th>
          <th style="width: 20%;">Competencias</th>
          <th style="width: 20%; text-align: right;">Acciones</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let curso of listaCursos">
          <td>
            <div class="course-cell">
              <div class="icon-wrapper">
                <span class="material-symbols-outlined">book</span>
              </div>
              <span class="course-name">{{curso.nombre}}</span>
            </div>
          </td>
          <td>
            <span class="tag-grade">{{curso.nombreAula}} Grado</span>
          </td>
          <td>
            <div class="competencia-count">
              <span class="material-symbols-outlined">account_tree</span>
              <strong>{{curso.competencias.length}}</strong>
            </div>
          </td>
          <td>
            <div class="table-actions">
              <button class="btn-table-action" (click)="verCompetencias(curso)" title="Competencias">
                <span class="material-symbols-outlined">list_alt</span>
              </button>
              <button class="btn-table-action" title="Editar">
                <span class="material-symbols-outlined" (click)="abrirModalEditar(curso)">edit</span>
              </button>
              <button class="btn-table-action danger" title="Eliminar">
                <span class="material-symbols-outlined">delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>

    <div class="table-footer">
      <div class="footer-info">
        Página {{paginaActual}} de {{totalPaginas}}
        <span class="total-count">({{ totalRegistros }} cursos en total)</span>
      </div>
      <div class="footer-nav">
        <button 
        [disabled]="paginaActual === 1" 
        (click)="cambiarPagina(paginaActual - 1)">
          <span class="material-symbols-outlined">chevron_left</span>
        </button>
        <div class="page-indicator">{{paginaActual}}</div>
        <button 
        [disabled]="paginaActual === totalPaginas" 
        (click)="cambiarPagina(paginaActual + 1)">
          <span class="material-symbols-outlined">chevron_right</span>
        </button>
      </div>
    </div>
  </div>
</div>

<!--Modal Editar Nombre Curso-->

<div class="modal-overlay" *ngIf="isModalEditOpen">
  <div class="modal-container">
    
    <div class="modal-header">
      <div class="header-icon-title">
        <span class="material-symbols-outlined header-icon">edit_note</span>
        <div class="text-group">
          <h2>Editar Curso</h2>
          <p>Actualiza el nombre de la materia seleccionada.</p>
        </div>
      </div>
      <button class="btn-close-modal" (click)="isModalEditOpen = false">
        <span class="material-symbols-outlined">close</span>
      </button>
    </div>

    <div class="modal-body-form">
      
      <div class="field-column">
        <label class="modal-label">Grado Académico</label>
        <div class="input-readonly-modal">
          <span class="material-symbols-outlined field-icon">school</span>
          <input class="readonly-text" type="text" [(ngModel)]="nuevoCursoComptencias.nombreAula">
        </div>
      </div>

      <div class="field-column">
        <label class="modal-label" for="nombreCurso">Nombre del Curso</label>
        <div class="input-editable-modal">
          <span class="material-symbols-outlined field-icon">book</span>
          <input 
            type="text" 
            id="nombre" 
            [(ngModel)]="nuevoCursoComptencias.nombre"
            class="input-modal-field">
        </div>
      </div>

    </div>

    <div class="modal-footer-adaptive">
      <button class="btn-cancel-modal" (click)="isModalEditOpen = false">Cancelar</button>
      <button class="btn-save-modal" (click)="guardarNombreCurso()" [disabled]="!nuevoCursoComptencias.nombre">
        Guardar Cambios
      </button>
    </div>
  </div>
</div> 

<!--Modal de Registroo-->

<div class="modal-overlay" *ngIf="isModalOpen" (click)="$event.target === overlay && cerrarModal()" #overlay>
  <div class="modal-content Registro-curso">
    
    <header class="modal-header">
      <div class="header-title">
        <span class="material-symbols-outlined icon-header">library_add</span>
        <h2>Registrar Nuevo Curso</h2>
      </div>
      <button class="btn-close-modal" (click)="cerrarModal()">&times;</button>
    </header>

    <div class="modal-body">
      <div class="modal-form-section">
        
        <div class="form-group">
          <label>Nombre del Curso</label>
          <div class="input-with-icon">
            <span class="material-symbols-outlined">book</span>
            <input 
            type="text" placeholder="Ej. Comunicación" 
            class="input-form" name="nombre" 
            [(ngModel)]="nuevoCursoComptencias.nombre">
          </div> 
        </div>

        <div class="form-group">
          <label>Grado Académico</label>
          <div class="select-modern-wrapper">
            <span class="material-symbols-outlined icon-select">school</span>
            <select class="select-flat" name="gradoId" [(ngModel)]="nuevoCursoComptencias.gradoId">
              <option [value]="null" disabled selected>Seleccionar grado...</option>
              <option *ngFor="let grados of listaGrados" [value]="grados.id">{{grados.nombre}}</option>
            </select>
            <span class="material-symbols-outlined arrow-down">expand_more</span>
          </div>
        </div>

        <div class="divider-h"></div>

        <div class="form-group">
          <label>Nueva Competencia</label>
          <div class="competencia-input-group">
            <textarea placeholder="Escriba la competencia aquí..." class="textarea-form" [(ngModel)]="competeciaInput"></textarea>
            <button class="btn-add-competencia" (click)="agregarCompetencia()">
              <span class="material-symbols-outlined">add_circle</span>
              Agregar
            </button>
          </div>
          <small class="help-text">Presione agregar para listar la competencia a la derecha.</small>
        </div>
      </div>

      <div class="modal-list-section">
        <div class="list-header">
          <h4 class="list-title">Competencias del Curso</h4>
          <span class="badge-count">{{nuevoCursoComptencias.competencias.length || 0}} Agregadas</span>
        </div>

        <div class="competencias-preview-list">
          <div class="competencia-card" *ngFor="let item of nuevoCursoComptencias.competencias; let i = index">
            <div class="comp-number">{{i + 1}}</div>
            <p>{{item.nombre}}</p>
            <button class="btn-del-comp"><span class="material-symbols-outlined" (click)="quitarCompetencia(i)">delete</span></button>
          </div>
          
          <div class="empty-state" style="display: none;" *ngIf="nuevoCursoComptencias.competencias.length === 0">
            <span class="material-symbols-outlined">format_list_bulleted</span>
            <p>Aún no has agregado competencias.</p>
          </div>
        </div>
      </div>
    </div>

    <footer class="modal-footer">
      <button class="btn-cancel" (click)="cerrarModal()">Cancelar</button>
      <button class="btn-save-course" (click)="agregarCursoComptencias()">
        <span class="material-symbols-outlined">check_circle</span>
        GUARDAR CURSO
      </button>
    </footer>
  </div>
</div>