<div class="main-content">
  <header class="page-header">
    <div class="header-info">
      <h1><span class="material-symbols-outlined">menu_book</span> Plan Curricular </h1>
      <p>Configuración de materias y competencias por grado académico.</p>
    </div>
  </header>

  <section class="toolbar-filters">
    <div class="filter-group">
      <div class="search-container">
        <span class="material-symbols-outlined icon-search">search</span>
        <input type="text" placeholder="Buscar curso por nombre..." class="input-search">
      </div>
      
      <div class="select-modern-wrapper">
        <span class="material-symbols-outlined icon-select">filter_alt</span>
        <select class="select-flat">
          <option value="">Todos los Grados</option>
          <option *ngFor="let grado of listaGrados">{{grado.nombre}}</option>
        </select>
        <span class="material-symbols-outlined arrow-down">expand_more</span>
      </div>
    </div>

    <button class="btn-add-new" (click)="abrirModal()">
      <span class="material-symbols-outlined">add</span>
      NUEVO CURSO
    </button>
  </section>

  <div class="courses-vertical-list" >
    
    <div class="course-row-item" *ngFor="let curso of listaCursos">
      <div class="course-indicator secondary"></div>
      <div class="course-main-info">
        <div class="course-icon-box">
          <span class="material-symbols-outlined">menu_book</span>
        </div>
        <div class="course-text">
          <h3>{{curso.nombre}}</h3>
          <span class="course-grade-badge">{{curso.nombreAula}}Grado</span>
        </div>
      </div>
      
      <div class="course-stats">
        <div class="stat">
          <span class="stat-value">{{curso.competencias.length}}</span>
          <span class="stat-label">Competencias</span>
        </div>
      </div>

      <div class="course-actions">
        <button class="btn-action-outline" (click)="verCompetencias(curso)"> 
          <span class="material-symbols-outlined">account_tree</span>
          GESTIONAR COMPETENCIAS
        </button>
        <button class="btn-icon-only" title="Editar curso">
          <span class="material-symbols-outlined">edit</span>
        </button>
      </div>
    </div>
  </div>
</div>

<!--Modal de Registroo-->

<div class="modal-overlay" *ngIf="isModalOpen" (click)="$event.target === overlay && cerrarModal()" #overlay>
  <div class="modal-content Registro-curso">
    
    <header class="modal-header">
      <div class="header-title">
        <span class="material-symbols-outlined icon-header">library_add</span>
        <h2>Registrar Nuevo Curso</h2>
      </div>
      <button class="btn-close-modal" (click)="cerrarModal()">&times;</button>
    </header>

    <div class="modal-body">
      <div class="modal-form-section">
        
        <div class="form-group">
          <label>Nombre del Curso</label>
          <div class="input-with-icon">
            <span class="material-symbols-outlined">book</span>
            <input type="text" placeholder="Ej. Comprensión Lectora" class="input-form" name="nombre" [(ngModel)]="nuevoCursoComptencias.nombre">
          </div>
        </div>

        <div class="form-group">
          <label>Grado Académico</label>
          <div class="select-modern-wrapper">
            <span class="material-symbols-outlined icon-select">school</span>
            <select class="select-flat" name="gradoId" [(ngModel)]="nuevoCursoComptencias.gradoId">
              <option [value]="null" disabled selected>Seleccionar grado...</option>
              <option *ngFor="let grados of listaGrados" [value]="grados.id">{{grados.nombre}}</option>
            </select>
            <span class="material-symbols-outlined arrow-down">expand_more</span>
          </div>
        </div>

        <div class="divider-h"></div>

        <div class="form-group">
          <label>Nueva Competencia</label>
          <div class="competencia-input-group">
            <textarea placeholder="Escriba la competencia aquí..." class="textarea-form" [(ngModel)]="competeciaInput"></textarea>
            <button class="btn-add-competencia" (click)="agregarCompetencia()">
              <span class="material-symbols-outlined">add_circle</span>
              Agregar
            </button>
          </div>
          <small class="help-text">Presione agregar para listar la competencia a la derecha.</small>
        </div>
      </div>

      <div class="modal-list-section">
        <div class="list-header">
          <h4 class="list-title">Competencias del Curso</h4>
          <span class="badge-count">{{nuevoCursoComptencias.competencias.length || 0}} Agregadas</span>
        </div>

        <div class="competencias-preview-list">
          <div class="competencia-card" *ngFor="let item of nuevoCursoComptencias.competencias; let i = index">
            <div class="comp-number">{{i + 1}}</div>
            <p>{{item.nombre}}</p>
            <button class="btn-del-comp"><span class="material-symbols-outlined" (click)="quitarCompetencia(i)">delete</span></button>
          </div>
          
          <div class="empty-state" style="display: none;" *ngIf="nuevoCursoComptencias.competencias.length === 0">
            <span class="material-symbols-outlined">format_list_bulleted</span>
            <p>Aún no has agregado competencias.</p>
          </div>
        </div>
      </div>
    </div>

    <footer class="modal-footer">
      <button class="btn-cancel" (click)="cerrarModal()">Cancelar</button>
      <button class="btn-save-course" (click)="agregarCursoComptencias()">
        <span class="material-symbols-outlined">check_circle</span>
        GUARDAR CURSO
      </button>
    </footer>
  </div>
</div>