<div class="schedule-container">
  <header class="schedule-header">
    <div class="header-info">
      <h2><span class="material-symbols-outlined">calendar_today</span> Horario Académico</h2>
    </div>
    
    <div class="filters-row">
      <div class="filter-group">
        <label>Grado </label>
        <select class="select-flat" [(ngModel)]="gradoId">
          <option >Seleccionar Grado</option>
          <option *ngFor="let grado of gradoData" [value]="grado.id">{{grado.nombre}}</option>
        </select>
      </div>

      <div class="filter-group">
        <label>Sección</label>
        <select class="select-flat" [(ngModel)]="seccionId">
          <option >Seleccionar Sección</option>
          <option *ngFor="let seccion of seccionData" [value]="seccion.id">{{seccion.nombre}}</option> 
        </select>
      </div>

      <div class="actions-group">
        <button class="btn-refresh" (click)="cargarHorarios()"><span class="material-symbols-outlined">filter_alt</span> Ver Horario</button>
        <button class="btn-edit" (click)="toggleEdit()" [class.active]="isEditing">
          <span class="material-symbols-outlined">{{ isEditing ? 'save' : 'edit_note' }}</span>
          {{ isEditing ? 'Finalizar' : 'Editar' }}
        </button>
        <button class="btn-download"><span class="material-symbols-outlined">download</span> Descargar</button>
      </div>
    </div>
  </header>

  <div class="schedule-grid">
    <div class="grid-header">Módulo</div>
    <div class="grid-header">Lunes</div>
    <div class="grid-header">Martes</div>
    <div class="grid-header">Miércoles</div>
    <div class="grid-header">Jueves</div>
    <div class="grid-header">Viernes</div>

    <ng-container *ngFor="let fila of horarioData">
      
      <div class="break-row" *ngIf="!fila.esProductiva">
        <span class="material-symbols-outlined">share_eta</span>
        {{ fila.bloque }} - {{ fila.rangoHora }}
      </div>

      <ng-container *ngIf="fila.esProductiva">
        <div class="time-cell">
          {{ fila.bloque.split(' ')[0] }}<br>
          <small>{{ fila.rangoHora }}</small>
        </div>

        <ng-container *ngFor="let dia of ['lunes', 'martes', 'miercoles', 'jueves', 'viernes']">
          <div class="course-cell" [ngClass]="getCursoClass(fila[dia])">
            <strong>{{ parseContent(fila[dia]).curso }}</strong>
            <span class="teacher">{{ parseContent(fila[dia]).docente }}</span>

            <div class="cell-overlay-actions" *ngIf="isEditing">
              <button class="mini-btn edit" title="Editar"><span class="material-symbols-outlined">edit</span></button>
              <button class="mini-btn delete" title="Eliminar"><span class="material-symbols-outlined">delete</span></button>
            </div>
          </div>
        </ng-container>
      </ng-container>
      
    </ng-container>
  </div>
</div>