<div class="main-content">
  <header class="page-header">
    <div class="header-info">
      <h1>Administración de Alumnos</h1>
    </div>
    <button class="btn-primary" (click)="abrirModal()">+ Nuevo Alumno</button>
  </header>
  
  <section class="panel table-panel">
    <div class="table-controls">
      <input type="text" placeholder="Buscar por DNI o Apellido..." class="search-input" name="dni" 
      [(ngModel)]="dniBuscar"
      (keyup.enter)="buscarPorDni()">

      <button class="btn-clear" *ngIf="dniBuscar" (click)="limpiarFiltro()">
        Limpiar Busqueda  <span class="material-symbols-outlined">close</span>
      </button>
    </div>

    <table class="modern-table">
      <thead>
        <tr>
          <th>Alumno</th>
          <th>DNI</th>
          <th>Aula / Grado</th>
          <th>Email</th>
          <th>Estado</th>
          <th>Fecha Nacimiento</th>
          <th>Sexo</th>
          <th>Acciones</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let alumno of listaAlumno">
          <td>
            <div class="user-info">
              <span class="user-name">{{alumno.apellidos}} {{alumno.nombre}}</span>
            </div>
          </td>
          <td>{{alumno.dni}}</td>
          <td><span class="badge-aula">{{alumno.aula}}</span></td>
          <td>{{alumno.email}}</td>
          <td>
            <span class="status-tag" [ngClass]="alumno.estado.toLowerCase()"> 
              {{alumno.estado}}
            </span>
          </td>
          <td>{{alumno.fechaNacimiento | date:'yyyy-MM-dd'}}</td>
          <td>{{alumno.sexo}}</td>
          <td>
            <div class="action-buttons">
              <button class="btn-icon-sm" title="Editar">
                <span class="material-symbols-outlined" (click)="abrirModal(alumno)">edit</span>
              </button>
              <button class="btn-icon-sm danger" title="Eliminar" (click)="editarEstado(alumno)"> 
                <span class="material-symbols-outlined">delete</span>
              </button>
              <button class="btn-icon-sm warning" title="Editar Password" (click)="abrirModalPassword(alumno)">
                <span class="material-symbols-outlined">vpn_key</span>
              </button>
            </div>
          </td>
        </tr>
        
      </tbody>
    </table>
  </section>

  <div class="pagination-footer">
    <div class="pagination-info">
      Mostrando página <strong>{{ paginaActual }}</strong> de <strong>{{ totalPaginas }}</strong>
      <span class="total-count">({{ totalRegistros }} alumnos en total)</span>
    </div>

    <div class="pagination-controls">
      <button 
        class="btn-nav" 
        [disabled]="paginaActual === 1" 
        (click)="cambiarPagina(paginaActual - 1)">
        <span class="material-symbols-outlined">chevron_left</span> Anterior
      </button>

      <div class="page-numbers">
        <span class="current-page">{{ paginaActual }}</span>
      </div>

      <button 
        class="btn-nav" 
        [disabled]="paginaActual === totalPaginas" 
        (click)="cambiarPagina(paginaActual + 1)">
        Siguiente <span class="material-symbols-outlined">chevron_right</span>
      </button>
    </div>

    <div class="pagination-settings">
      <select [(ngModel)]="cantidadPorPagina" (change)="cargarAlumnos()">
        <option [ngValue]="10">10 por página</option>
        <option [ngValue]="15">15 por página</option>
        <option [ngValue]="20">20 por página</option>
      </select>
    </div>
  </div>

</div>

<!--Modal de Registro-->

<div class="modal-overlay" *ngIf="isModal" (click)="$event.target === overlay && cerrarModal()" #overlay>
  <div class="modal-container">
    
    <div class="modal-header">
      <h2>Registrar Nuevo Alumno</h2>
      <button class="btn-close" (click)="cerrarModal()">&times;</button>
    </div>

    <div class="modal-body">
      <form class="modal-form">
        
        <div class="form-group">
          <label>Nombres</label>
          <input type="text" name="nombre" placeholder="Ej. Karla Yanela" [(ngModel)]="nuevoAlumno.nombre">
        </div>

        <div class="form-group">
          <label>Apellidos</label>
          <input type="text" name="apellidos" [(ngModel)]="nuevoAlumno.apellidos" placeholder="Ej. Flores Rubio">
        </div>
 
        <div class="form-row">
          <div class="form-group">
            <label>DNI</label>
            <input type="text" 
              name="dni" 
              [(ngModel)]="nuevoAlumno.dni"
              maxlength="8" 
              placeholder="87654321">
          </div>

          <div class="form-group">
            <label>Sexo</label>
            <select name="sexo" [(ngModel)]="nuevoAlumno.sexo">
              <option value="" disabled selected>Seleccione...</option>
              <option value="Mujer">Mujer</option>
              <option value="Varon">Varón</option>
            </select>
          </div>
        </div>

        <div class="form-group">
          <label>Fecha de Nacimiento</label>
          <input type="date" name="fechaNacimiento" [(ngModel)]="nuevoAlumno.fechaNacimiento">
        </div>

      </form>
    </div>
    <div class="modal-footer">
      <button class="btn-secondary" (click)="cerrarModal()">Cancelar</button>
      <button class="btn-save" (click)="registrarAlumno()">
        {{isEditMode ? 'Guardar Cambios' : 'Registrar Alumno'}}
      </button>
    </div>
  </div>
</div>

<!--Modal editar estado-->

<div class="modal-overlay" *ngIf="modalEstado" (click)="$event.target === overlay && cerrarModalEstado()" #overlay> 
  <div class="modal-status-card">
    <div class="modal-header">
      <div class="header-icon">
        <span class="material-symbols-outlined">person_pin_circle</span>
      </div>
      <div class="header-text">
        <h3>Actualizar Estado</h3>
        <p>Estudiante: <span>{{nuevoAlumno.nombre}} {{nuevoAlumno.apellidos}}</span></p>
        <p>Situación: <span>{{nuevoAlumno.estado}}</span></p>
      </div>
      <button class="btn-close" (click)="cerrarModalEstado()">&times;</button>
    </div>

    <div class="modal-body">
      <div class="input-container">
        <label>Situación Académica</label>
        <div class="custom-select-wrapper">
          <select class="status-select" [(ngModel)]="estadoAlumno">
            <option value="activo" class="opt-activo" *ngFor="let estado of listaEstado" [value]="estado.nombre">{{estado.nombre}}</option>
          </select>
          <span class="material-symbols-outlined select-arrow">expand_more</span>
        </div>
      </div>

      <div class="info-box">
        <span class="material-symbols-outlined">info</span>
        <p>Este cambio afectará la disponibilidad de cupos en el aula actual.</p>
      </div>
    </div>

    <div class="modal-footer">
      <button class="btn-secondary" (click)="cerrarModalEstado()">Cancelar</button> 
      <button class="btn-primary-1" (click)="acualizarEstado()">Guardar Cambios</button>
    </div>
  </div>
</div>

<!--Modal editar Password-->

<div class="modal" *ngIf="isModalPassword">
  <div class="modal-content">
    <h3>Cambiar Contraseña</h3>
    <p>Alumno: <strong>{{ nuevoAlumno.nombre }} {{nuevoAlumno.apellidos}}</strong></p>
    
    <div class="field-group">
      <label>Nueva Contraseña</label>
      <input 
        type="password" 
        [(ngModel)]="nuevaPassword" 
        placeholder="Ingrese la nueva contraseña"
        class="input-flat">

        <div class="password-strength-row" 
            [style.color]="isPasswordComplete() ? '#2ecc71' : (nuevaPassword.length > 0 ? '#ffbf00' : '#ff4d4d')">
          
          <span [style.color]="hasUpperCase() ? 'inherit' : '#ff4d4d'">Mayúscula</span>
          <span class="separator">---</span>
          <span [style.color]="hasNumber() ? 'inherit' : '#ff4d4d'">Número</span>
          <span class="separator">---</span>
          <span [style.color]="hasSpecial() ? 'inherit' : '#ff4d4d'">Caractér Especial</span>
        </div>
    </div>

    <div class="modal-actions">
      <button class="btn-secondary" (click)="isModalPassword = false">Cancelar</button>
      <button class="btn-primary" (click)="confirmarCambioPassword()">Actualizar Password</button>
    </div>
  </div>
</div>