<div class="detalle-container">
  <div class="panel-header">
    <div class="titulo-grupo">
      <button (click)="volver()" class="btn-back">
        <span class="material-symbols-outlined">arrow_back</span>
      </button>
      <div>
        <h1>Registro de Calificaciones</h1>
        <p>
            Curso: <span class="highlight">{{ infoCurso.nombre }}</span> | 
            Aula: <span class="highlight">{{ infoCurso.aula }}</span></p>
      </div>
    </div>

    <div class="acciones">
      <button 
        *ngIf="!editando" 
        (click)="editando = true" 
        class="btn-edit"
        [disabled]="!canEdit"
        [title]="!canEdit ? 'Trimestre Cerrado' : 'Editar Notas'">
        <span class="material-symbols-outlined">edit</span> {{!canEdit ? 'Trimestre Cerrado' : 'Editar Notas'}}
      </button>
      <div *ngIf="editando" class="btn-group">
        <button [disabled]="!canEdit" (click)="guardarCambios()" class="btn-save">Guardar</button>
        <button (click)="editando = false" class="btn-cancel">Cancelar</button>
      </div>
    </div>
  </div>

  <div class="trimestre-nav">
    <button  *ngFor="let trim of listrimestres"
      class="trimestre-btn"
      [class.active]="trimestreSeleccionadoId === trim.id"
      (click)="seleccionarTrimestre(trim.id)">
      <div class="btn-content">
        <span class="tri-name">{{ trim.nombre }}</span>
        <span class="tri-date">
          Cierra: {{ trim.fechaCierre | date:'dd/MM/yyyy' }}
        </span>
      </div>
      <span *ngIf="trim.estadoActivo" class="dot-active" title="Trimestre Actual"></span>
    </button>
  </div>

  <div class="tabla-wrapper">
    <table class="tabla-notas">
      <thead>
        <tr>
          <th class="col-estudiante">Estudiante</th>
          <th *ngFor="let comp of competencias" class="col-competencia">
            {{ comp.nombre }}
          </th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let alumno of alumnos">
          <td class="col-estudiante nombre-alumno">
            {{ alumno.nombreCompleto }}
          </td>
          <td *ngFor="let comp of competencias" class="celda-input">
            <input 
              type="text" 
              [disabled]="!editando || !canEdit"
              [class.active]="editando"
              [ngModel]="obtenerNota(alumno, comp.id)"
              [disabled]="!canEdit"
              (ngModelChange)="actualizarNota(alumno, comp.id, $any($event))"
              maxlength="2"
              placeholder="--"> 
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
 